<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Dotfiles Generator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="author" content="Md. Minhazul Haque">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="description" content="Ready to go dotfiles generator">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        * {
            font-family: "Roboto Mono" !important;
        }
        body {
            padding-top: 70px;
            padding-bottom: 20px;
        }
        @media (min-width:1024px) {
            .card-columns {
                column-count: 4
            }
        }
    </style>
    <meta property="og:image" content="https://repository-images.githubusercontent.com/65431303/1a20ca00-37ef-11eb-9ce7-5d031dea5d89" />
    <meta property="og:title" content="mdminhazulhaque/dotfiles" />
    <meta property="og:url" content="https://mdminhazulhaque.github.io/dotfiles/" />
    <meta property="og:description" content="Ready to download bash aliases - mdminhazulhaque/dotfiles" />
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Dotfiles Generator</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light btn-sm" disabled>Select</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="do_select_all(true)">All</button>
                            <button type="button" class="btn btn-secondary btn-sm" onclick="do_select_all(false)">None</button>
                        </div>
                        &nbsp;
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" onclick="download()"><strong>Download</strong></button>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline">
                <div class="btn-group pull-right" role="group">
                    <a type="button" class="btn btn-light" href="https://github.com/mdminhazulhaque/dotfiles/">
                        <img style="height: 22px;" src="https://github.githubassets.com/images/icons/emoji/octocat.png">
                        <strong>mdminhazulhaque/dotfiles</strong>
                    </a>
                </div>
            </form>
        </nav>
    </header>
    <main role="main">
        <div class="container-fluid">
            <div class="card-columns">
                
                {% for key in aliases %}
                <div class="card">
                    <div class="card-body" id="{{ key }}">
                        <h5 class="card-title"><strong>{{ key }}</strong></h5>
                        {% for alias in aliases[key] %}
                        <div class="form-check">
                            <input class="form-check-input {{ key }}"  id="{{ key+alias | slug }}" type="checkbox"
                                checked><label class="form-check-label" for="{{ key+alias | slug }}">{{ alias | replace("alias ","") }}</label>
                        </div>
                        {% endfor %}
                        <br>
                        <button type="button" class="btn btn-primary btn-sm" onclick="do_select('{{ key }}', true)">All</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="do_select('{{ key }}', false)">None</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
        function download() {
            var aliases = [];
            $("input").each(function () {
                if ($(this).is(':checked')) {
                    let input_id = $(this).attr("id");
                    let body = $("label[for='" + input_id + "']").text()
                    var alias;
                    if (body.match(/^[a-z]+\(\).*/)) {
                        alias = body;
                    } else {
                        alias = "alias " + body;
                    }
                    aliases.push(alias);
                }
            });
            let content = aliases.join("\n");
            let filename = "aliases_" + new Date().getTime() + ".sh";
            let element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(content));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
        function do_select_all(state) {
            $("input").each(function () {
                this.checked = state;
            });
        }
        function do_select(cardname, state) {
            $("input." + cardname).each(function () {
                this.checked = state;
            });
        }
    </script>
</body>

</html>
